@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
  --primary-color: #b3bffc;
  --secondary-color: #272727;
  --info-color: #212738;
  --black-color: #rgb(31, 30, 30);
  --body-color: aliceblue;
  --primary-font-color: #000;
  --secundary-font-color: #fff;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', 'sans-serif';
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  color: var(--secundary-font-color);
}